.blog-title{
    margin-top: 40px;
    color: #7911da;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 40px;
}
.blogs{
    border: 2px solid blueviolet;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.blogs p{
    font-size: 20px;
    font-weight: 700;
}
.blogs small{
    
}