.topic-details{
    border: 1px solid blueviolet;
    border-radius: 10px;
    height: 290px;
    width: 40%;
    margin: auto;
    margin-top: 50px;
}
.topic-details img{
    height: 70%;
    width: 100%;
    padding: 10px;
    margin-bottom: 35px;
    background-color: rgb(65, 47, 81);
    border-radius: 10px;
}
.topic-info{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.link{
    text-decoration: none;
    background-color: rgb(160, 81, 234);
    padding: 6px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
}


@media screen and (max-width: 450px) {
    .topic-details{
        width: 200px;
    }

}