/* .home-container{
    align-items: center;
    width: 70%;
} */
.topic-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

@media screen and (max-width: 768px ){
    .topic-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
